h1 {
  font-family: "Carter One", cursive;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

h2 {
  font-family: "Merriweather", serif;
  text-align: center;
}

h3 {
  font-family: "Merriweather", serif;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: auto;
  height: 4em;
}

.main {
  background: #fff;
}

.sorties-bd {
  width: 100vw;
  background-color: orangered;
  border-radius: 10px;

}

.article {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  background-color: whitesmoke;
  border: 2px solid orangered;
  border-radius: 5px;
  margin-bottom: 0.5em;
}

.article h2 {
  grid-column: 1;
  grid-row: 1;
}

.article h3 {
  grid-column: 1;
  grid-row: 2;
}

.article img {
  grid-column: 1;
  grid-row: 3;
  width: 80vw;
  height: auto;
  margin: auto;
}

.article p {
  grid-column: 1;
  grid-row: 4;
}

/*iPads, Tablets*/
@media only screen and (min-width: 480px) {
  .sorties-bd {
    width: 95vw;
  }

  .article {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    border: 2px solid orangered;
    border-radius: 10px;
    margin: 1em;
  }

  .article h2 {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .article h3 {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .article img {
    grid-column: 1;
    grid-row: 3;
    width: 250px;
    height: auto;
    margin: auto;
  }

  .article p {
    grid-column: 2;
    grid-row: 3;
  }
}

/*small screen, laptop*/
@media only screen and (min-width: 768px) {
  .sorties-bd {
    width: 80vw;
  }

  .article {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    border: 2px solid orangered;
    border-radius: 10px;
    margin: 1em;
  }

  .article h2 {
    grid-column: 1;
    grid-row: 1;
  }

  .article h3 {
    grid-column: 1;
    grid-row: 2;
  }

  .article img {
    grid-column: 1;
    grid-row: 3;
    width: 250px;
    height: auto;
    margin: auto;
  }

  .article p {
    grid-column: 1;
    grid-row: 4;
  }
}

/*desktop*/
@media only screen and (min-width: 1024px) {
  .sorties-bd {
    width: 40vw;
  }
  .article {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    border: 2px solid orangered;
    border-radius: 10px;
    margin: 1em;
  }

  .article h2 {
    grid-column: 1;
    grid-row: 1;
  }

  .article h3 {
    grid-column: 1;
    grid-row: 2;
  }

  .article img {
    grid-column: 1;
    grid-row: 3;
    width: 250px;
    height: auto;
    margin: auto;
  }

  .article p {
    grid-column: 1;
    grid-row: 4;
  }
}

/*large screen*/
@media only screen and (min-width: 1200px) {
  .sorties-bd {
    margin-top: 10px;
    width: 45vw;
    background-color: orangered;
    border-radius: 20px;
  }

  .article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    border: 2px solid orangered;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 1em;
  }

  .article h2 {
    grid-column: 1 / 3;
    grid-row: 1;
    text-align: center;
  }

  .article h3 {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .article img {
    grid-column: 1;
    grid-row: 3;
    width: 250px;
    height: auto;
    margin-bottom: 1em;
  }

  .article p {
    grid-column: 2;
    grid-row: 3;
  }
}
