a:hover,
a:visited,
a:focus {
  text-decoration: none;
}

div:target {
  padding-top: 90px;
  margin-top: -90px;
}

body {
  background-color: black;
  margin-top: 70px;
}

.title1 {
  font-family: "Carter One", cursive;
  font-size: 2em;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
