h1 {
  font-family: "Carter One", cursive;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: auto;
  height: 4em;
}

.main {
  background: #fff;
}

.article {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  width: 95vw;
  border: 2px solid orangered;
  border-radius: 5px;
  margin: 0.5em;
}

.article h2 {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}

.article img {
  grid-column: 1;
  grid-row: 2;
  width: 300px;
  height: auto;
  margin: auto;
}

.article p {
  grid-column: 1;
  grid-row: 3;
}

/*iPads, Tablets*/
@media only screen and (min-width: 480px) {
  .article {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    width: 95vw;
    border: 2px solid orangered;
    border-radius: 10px;
    margin: 1em;
  }

  .article h2 {
    grid-column: 1 / 3;
    grid-row: 1;
    text-align: center;
  }

  .article img {
    grid-column: 1;
    grid-row: 2;
    width: 250px;
    height: auto;
    margin: auto;
  }

  .article p {
    grid-column: 2;
    grid-row: 2;
  }
}

/*small screen, laptop*/
@media only screen and (min-width: 768px) {
  .article {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width: 40vw;
    border: 2px solid orangered;
    border-radius: 10px;
    margin: 1em;
  }

  .article h2 {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
  }

  .article img {
    grid-column: 1;
    grid-row: 2;
    width: 250px;
    height: auto;
    margin: auto;
  }

  .article p {
    grid-column: 1;
    grid-row: 3;
  }
}

/*desktop*/
@media only screen and (min-width: 1024px) {
  .article {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width: 40vw;
    border: 2px solid orangered;
    border-radius: 10px;
    margin: 1em;
  }

  .article h2 {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
  }

  .article img {
    grid-column: 1;
    grid-row: 2;
    width: 250px;
    height: auto;
    margin: auto;
  }

  .article p {
    grid-column: 1;
    grid-row: 3;
  }
}

/*large screen*/
@media only screen and (min-width: 1200px) {
  .article {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    width: 50vw;
    border: 2px solid orangered;
    border-radius: 10px;
    margin: 1em;
  }

  .article h2 {
    grid-column: 1 / 3;
    grid-row: 1;
    text-align: center;
  }

  .article img {
    grid-column: 1;
    grid-row: 2;
    width: 250px;
    height: auto;
    margin: auto;
  }

  .article p {
    grid-column: 2;
    grid-row: 2;
  }
}
