a:hover,
a:visited,
a:focus {
  text-decoration: none;
}

div:target {
  padding-top: 90px;
  margin-top: -90px;
}

body {
  background-color: black;
  margin-top: 70px;
}

.title1 {
  font-family: "Carter One", cursive;
  font-size: 2em;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.bannière {
  display: none;
}

.btn {
  background-color: #ffc107;
  color: black;
  border: 1px solid black;
}

.btn:hover {
  background-color: black;
  color: #ffc107;
  border: 1px solid #ffc107;
}

.btn:active {
  background-color: black;
  color: #ffc107;
  border: 1px solid #ffc107;
  font-size: larger;
}

.sorties-bd .btn {
  background-color: #dc3545;
  color: black;
  border: 1px solid black;
}

.sorties-bd .btn:hover {
  background-color: black;
  color: #dc3545;
  border: 1px solid #dc3545;
}

.reseaux-sociaux {
  display: inline-block;
  margin: 0 auto;
  font-size: 1.5em;
}

/* xs */
@media (min-width: 576px) {
  .navbar-brand {
    font-size: 2em;
  }
  .nav-item {
    font-size: 1em;
  }

  .reseaux-sociaux {
    font-size: 2em;
  }
}

/* Medium devices (tablets, 768px and up) md*/
@media (min-width: 768px) {
  .bannière {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
}

/* Large devices (desktops, 992px and up) lg*/
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) xl*/
@media (min-width: 1200px) {
  .navbar-brand {
    font-size: 2.4em;
  }
  .nav-item {
    font-size: 1.2em;
  }
}
